<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        @import "Style.css";
    </style>
</head>
<body>
<div>
    Hello :)
    <div class="selector">
        Pasirinkite miesta:
    </div>
    <table border="1px">
        <thead>
        <tr>
            <td>
                Data
            </td>
            <td>
                Temperatura
            </td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="forecast : ${forecasts}">
            <td th:text="${forecast.dateTime}"></td>
            <td th:text="${forecast.temperature}"></td>
        </tr>
        </tbody>

    </table>
</div>
</body>
</html>