<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    Hello :)
    <table border="1px">
        <thead>
        <tr>
            <td>
                Data
            </td>
            <td>
                Temperatura
            </td>
        </tr>
        </thead>
        <tr>
            <td>
                1
            </td>
            <td>
                11
            </td>
        </tr>
        <tr>
            <td>
                2
            </td>
            <td>
                22
            </td>
        </tr>
        <tr>
            <td>
                3
            </td>
            <td>
                33
            </td>
        </tr>
    </table>
</div>
</body>
</html>