<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    Hello :)
    <table border="1px">
        <thead>
        <tr>
            <td>
                Data
            </td>
            <td>
                Temperatura
            </td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="forecast : ${forecasts}">
            <td th:text="${forecast.dateTime}"></td>
            <td th:text="${forecast.temperature}"></td>
        </tr>
        </tbody>

    </table>
</div>
</body>
</html>